<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Departamentos</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Departamentos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="departments-container">
    <ion-searchbar placeholder="Buscar departamentos..."></ion-searchbar>
    
    <ion-list *ngIf="departments.length > 0">
      <ion-item *ngFor="let department of departments" (click)="onDepartmentClick(department)" button="true">
        <ion-thumbnail slot="start">
          <img [src]="department.thumbnail || 'https://ionicframework.com/docs/img/demos/thumbnail.svg'" [alt]="department.name" />
        </ion-thumbnail>
        
        <ion-label>
          <h2>{{ department.name }}</h2>
          <p *ngIf="department.description" class="ion-text-nowrap">{{ department.description.length > 60 ? (department.description | slice:0:60) + '...' : department.description }}</p>
          <div class="department-stats">
            <ion-chip color="primary" outline="true">
              <ion-icon name="people-outline"></ion-icon>
              <ion-label>{{ getParticipantsCount(department) }}</ion-label>
            </ion-chip>
            <ion-chip color="secondary" outline="true">
              <ion-icon name="briefcase-outline"></ion-icon>
              <ion-label>{{ department.roles.length }}</ion-label>
            </ion-chip>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
    
    <div class="empty-state" *ngIf="departments.length === 0">
      <ion-icon name="business-outline" size="large"></ion-icon>
      <h3>Nenhum departamento encontrado</h3>
      <p>Comece criando seu primeiro departamento</p>
      <ion-button expand="block" color="primary">
        <ion-icon name="add" slot="start"></ion-icon>
        Criar Departamento
      </ion-button>
    </div>
  </div>
</ion-content>